# refGeneSearch

First we import the pandas and allele scikit-allel packages

In [1]:
import pandas as pd
import allel

We start by reading in the vcf file and specifying the columns we are interested in

In [2]:
vcf = allel.read_vcf('example.vcf', alt_number = 1, fields = ['variants/ALT', 'variants/CHROM', 'variants/ID', 'variants/POS', 'variants/REF', 'variants/END'])

We then convert the data into a pandas DataFrame for easier overview

In [3]:
vcf_df = pd.DataFrame(vcf)

In [4]:
vcf_df

,variants/ALT,variants/CHROM,variants/END,variants/ID,variants/POS,variants/REF
0,N[hs37d5:12060441[,1,-1,SV_3_1,724775,N
1,N[1:224201823[,1,-1,SV_2_1,725871,N
2,N[hs37d5:9757603[,1,-1,SV_7_1,817886,N
3,N[hs37d5:24422462[,1,-1,SV_8_1,817888,N
4,<DEL>,1,870245,SV_10_1,869575,N
5,N[1:964401[,1,-1,SV_15_1,965205,N
6,<DEL>,1,1143140,SV_29_1,1142601,N
7,N[hs37d5:33110442[,1,-1,SV_46_1,1584794,N
8,N[hs37d5:12067043[,1,-1,SV_61_1,2055929,N
9,N[hs37d5:12098770[,1,-1,SV_73_1,2583830,N
10,N[hs37d5:27413166[,1,-1,SV_76_1,2615668,N
11,N[hs37d5:28220093[,1,-1,SV_77_1,2615749,N
12,N[hs37d5:32469994[,1,-1,SV_103_1,3845189,N
13,N[hs37d5:32477203[,1,-1,SV_108_1,4126484,N
14,N[hs37d5:3617245[,1,-1,SV_129_1,5734546,N
15,N[hs37d5:32643870[,1,-1,SV_173_1,9471618,N
16,N[hs37d5:9414384[,1,-1,SV_176_1,9684344,N
17,N[hs37d5:32644907[,1,-1,SV_182_1,11031074,N
18,N[hs37d5:32646801[,1,-1,SV_189_1,11434277,N
19,N[1:11683189[,1,-1,SV_190_1,11682799,N
20,<DEL>,1,13338000,CNVnator_del_16,13220001,N
21,<DEL>,1,13442000,CNVnator_del_17,13356001,N
22,N[hs37d5:32932069[,1,-1,SV_205_1,14819456,N
23,N[hs37d5:6854302[,1,-1,SV_233_1,17008224,N
24,<INV>,1,234912187,SV_235_1,17052008,N
25,<INV>,1,143668099,SV_238_1,17234391,N
26,<INV>,1,147855598,SV_239_1,17234432,N
27,N[hs37d5:32046132[,1,-1,SV_248_1,17615688,N
28,N[hs37d5:32043790[,1,-1,SV_247_1,17616093,N
29,N[1:17685086[,1,-1,SV_245_1,17684651,N
...,...,...,...,...,...,...
4909,N[GL000220.1:126690[,21,-1,SV_7300_1,34144202,N
4910,<DEL>,21,43005000,CNVnator_del_1176,42956001,N
4911,<DEL>,21,48130000,CNVnator_del_1180,48120001,N
4912,<DEL>,22,16050000,CNVnator_del_1181,1,N
4913,<DEL>,22,16848000,CNVnator_del_1184,16698001,N
4914,N[GL000220.1:131396[,22,-1,SV_7364_1,25489765,N
4915,<DEL>,22,50415000,CNVnator_del_1214,50365001,N
4916,<DEL>,22,51305000,CNVnator_del_1216,51244001,N
4917,<DEL>,X,7673882,SV_7457_1,7623783,N
4918,<DEL>,X,10788674,SV_7458_1,10738536,N
4919,<DEL>,X,49293000,CNVnator_del_1237,49243001,N
4920,<DEL>,X,50024000,CNVnator_del_1240,49974001,N
4921,N[GL000220.1:126850[,X,-1,SV_7485_1,53935367,N
4922,<DEL>,X,61682000,CNVnator_del_1242,58581001,N
4923,<DEL>,X,76703000,CNVnator_del_1247,76654001,N
4924,N[Y:6400889[,X,-1,SV_7506_1,88462388,N
4925,<DEL>,X,113568000,CNVnator_del_1253,113518001,N
4926,<DEL>,X,115732000,CNVnator_del_1255,115682001,N
4927,<DEL>,X,143557000,CNVnator_del_1260,143507001,N
4928,<DEL>,X,148956000,CNVnator_del_1262,148907001,N
4929,<DEL>,X,149082000,CNVnator_del_1263,149032001,N
4930,<DEL>,Y,58819000,CNVnator_del_1291,28819001,N
4931,N[GL000216.1:115866[,Y,-1,SV_7690_1,59014000,N
4932,N[GL000216.1:112219[,Y,-1,SV_7693_1,59017778,N
4933,<DEL>,Y,59374000,CNVnator_del_1295,59034001,N
4934,<DUP>,MT,17000,CNVnator_dup_1296,1,N
4935,<DEL>,GL000197.1,38000,CNVnator_del_1307,1,N
4936,<DEL>,GL000249.1,39000,CNVnator_del_1310,1,N
4937,<DEL>,GL000196.1,39000,CNVnator_del_1311,1,N
4938,<DEL>,GL000248.1,40000,CNVnator_del_1312,1,N

In this example we will focus on the inversions found on chromosome 1

In [5]:
vcf_df_inv = vcf_df[vcf_df['variants/ALT'] == '<INV>']

In [6]:
vcf_df_inv_1 = vcf_df_inv[vcf_df_inv['variants/CHROM'] == '1']

In [7]:
vcf_df_inv_1

,variants/ALT,variants/CHROM,variants/END,variants/ID,variants/POS,variants/REF
24,<INV>,1,234912187,SV_235_1,17052008,N
25,<INV>,1,143668099,SV_238_1,17234391,N
26,<INV>,1,147855598,SV_239_1,17234432,N
84,<INV>,1,146027428,SV_591_1,85980353,N
118,<INV>,1,147842552,SV_772_1,144526915,N
120,<INV>,1,148183890,SV_789_1,145109293,N
2934,<INV>,1,52351381,SV_481_1,52347497,N
3693,<INV>,1,247337095,SV_1264_1,247287363,N
3694,<INV>,1,247333546,SV_1265_1,247291307,N
4104,<INV>,1,25731750,SV_320_1,25614212,N
4158,<INV>,1,17278127,SV_232_1,16948062,N
4280,<INV>,1,64854680,SV_529_1,64839734,N
4337,<INV>,1,17074600,SV_222_1,16833295,N
4338,<INV>,1,17070969,SV_225_1,16836466,N
4501,<INV>,1,187466475,SV_980_1,187464772,N
4560,<INV>,1,182274314,SV_916_1,168186413,N
4573,<INV>,1,248815254,SV_1274_1,248603660,N
4574,<INV>,1,248810420,SV_1275_1,248608010,N
4718,<INV>,1,31128995,SV_352_1,29877962,N
4772,<INV>,1,149215711,SV_236_1,17231387,N

We then need to import MySQL-Connector package which allows us to connect to a database of our desire

In [8]:
import mysql.connector

We then grab the staring positions from the variants/POS columns and save it as a list, we will use these positions to search the refGene database

In [10]:
start = list(vcf_df_inv_1['variants/POS'])

In [11]:
start

[17052008,
 17234391,
 17234432,
 85980353,
 144526915,
 145109293,
 52347497,
 247287363,
 247291307,
 25614212,
 16948062,
 64839734,
 16833295,
 16836466,
 187464772,
 168186413,
 248603660,
 248608010,
 29877962,
 17231387]

We then define a function which connects to the hg19 database through the UCSC genome browser and queries the refGene table to check if the search positions are located inside an exon

In [15]:
def refGene_search(chrom, pos):
    pos_str = str(pos)
    cnx = mysql.connector.connect(user='genome', host='genome-mysql.soe.ucsc.edu', database='hg19')
    cursor = cnx.cursor()

    query = ("SELECT name, name2, chrom, cdsStart, cdsEnd, exonCount FROM refGene WHERE chrom = %s AND cdsStart < %s AND cdsEnd > %s")

    cursor.execute(query, (chrom, pos_str, pos_str))
    result = pd.DataFrame(columns=["search", "transcript", "name", "chrom", "cdsStart", "cdsEnd", "exon"])

    for (name, name2, chrom, cdsStart, cdsEnd, exonCount) in cursor:
        row = pd.DataFrame([[pos_str, name, name2, chrom, cdsStart, cdsEnd, exonCount]], columns=["search", "transcript", "name", "chrom", "cdsStart", "cdsEnd", "exon"])
        result = result.append(row)

    cursor.close()
    cnx.close()
    return result

We iterate over the start positions, using refGene_search function and save the result in a new dataframe

In [16]:
res = pd.DataFrame(columns=["search", "transcript", "name", "chrom", "cdsStart", "cdsEnd", "exon"])
for pos in start:
    res = res.append(refGene_search("chr1", pos), ignore_index=True)

In [17]:
res

       search    transcript    name chrom   cdsStart     cdsEnd exon
0   144526915  NM_001278267  NBPF20  chr1  144158383  146466121  131
1   144526915  NM_001351365  NBPF19  chr1  144146846  146466121   93
2   145109293  NM_001277444   NBPF9  chr1  144615130  145368684   26
3   145109293  NM_001278267  NBPF20  chr1  144158383  146466121  131
4   145109293  NM_001351365  NBPF19  chr1  144146846  146466121   93
5   145109293     NM_004892  SEC22B  chr1  145096546  145115889    6
6   247287363  NM_001243740  ZNF124  chr1  247287169  247335179    4
7   247291307  NM_001243740  ZNF124  chr1  247287169  247335179    4
8    25614212  NM_001282868     RHD  chr1   25599038   25655506    8
9    25614212     NM_016124     RHD  chr1   25599038   25655415   10
10   25614212  NM_001127691     RHD  chr1   25599038   25655415    7
11   25614212  NM_001282871     RHD  chr1   25599038   25655627    9
12   25614212  NM_001282870     RHD  chr1   25599038   25655627    9
13   25614212  NM_001282869     RHD  chr1   25599038   25655506    8
14   25614212  NM_001282872     RHD  chr1   25599038   25643543   10

We then repeat the search for the ending posisitons

In [18]:
ends = list(vcf_df_inv_1['variants/END'])

In [19]:
ends

[234912187,
 143668099,
 147855598,
 146027428,
 147842552,
 148183890,
 52351381,
 247337095,
 247333546,
 25731750,
 17278127,
 64854680,
 17074600,
 17070969,
 187466475,
 182274314,
 248815254,
 248810420,
 31128995,
 149215711]

In [20]:
res_2 = pd.DataFrame(columns=["search", "transcript", "name", "chrom", "cdsStart", "cdsEnd", "exon"])
for pos in ends:
    res_2 = res_2.append(refGene_search("chr1", pos), ignore_index=True)

In [21]:
res_2

       search    transcript    name chrom   cdsStart     cdsEnd exon
0   147855598  NM_001351365  NBPF19  chr1  146034164  148346756   95
1   146027428  NM_001278267  NBPF20  chr1  144158383  146466121  131
2   146027428  NM_001351365  NBPF19  chr1  144146846  146466121   93
3   146027428  NM_001302371  NBPF10  chr1  145293405  146466121   90
4   146027428  NM_001039703  NBPF10  chr1  145293405  146466121   86
5   147842552  NM_001351365  NBPF19  chr1  146034164  148346756   95
6   148183890  NM_001351365  NBPF19  chr1  146034164  148346756   95
7   148183890  NM_001351372  NBPF26  chr1  148004547  148346756   30
8   247333546  NM_001297569  ZNF124  chr1  247320445  247335179    4
9   247333546  NM_001297568  ZNF124  chr1  247319867  247335179    4
10  247333546  NM_001297567  ZNF124  chr1  247302043  247335179    4
11  247333546     NM_003431  ZNF124  chr1  247319867  247335179    4
12  247333546  NM_001243740  ZNF124  chr1  247287169  247335179    4
13   25731750     NM_138616    RHCE  chr1   25689017   25747277    7
14   25731750     NM_020485    RHCE  chr1   25689017   25747277   10
15   25731750  NM_001330430    RHCE  chr1   25696985   25747277    9
16   25731750     NM_138618    RHCE  chr1   25696985   25747277    9
17   25731750     NM_138617    RHCE  chr1   25696985   25747277    7
18   17278127     NM_014675   CROCC  chr1   17248513   17298941   37